.navbar {
    display: flex;
    flex-direction: row;
    background-color: #F8F8F8;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
}

.Header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.name {
    color: black;
    text-decoration: none;
    font-size: large;
}

.buttons {
    background-color: #EAEAEA;
    color: black;
    border: none;
    border-radius: 12px;
    padding: 5px 30px;
}