.box {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
}

.date {
    display: flex;
    align-items: center;
}

.clear {
    background-color: indianred;
    border-radius: 50%;
    padding: 3px;
    color: white;
}

.check {
    background-color: rgb(124, 226, 158);
    border-radius: 50%;
    padding: 3px;
    color: white;
}