.all{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.box {
    background-color: white;
    padding: 70px;
    border-radius: 20px;
    text-align: center;
    margin: 20px 0px 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 22px;
}

.number {
    font-size: 48px;
    font-weight: 500;
}